/* {
    color : red;
}

h1{
    color: blue;
}

.mycolor{
    color: black;
}

#idcolor
{
    color: aqua;
}

.myul > li{
    color: green;
}

.myli{
    color: aqua;
}

ul li{
    color: yellow;
}

.myClass{
    border: 1px solid red;
}

.my2Class{
    text-decoration: line-through;
}

p[class]{
    background-color: purple;
} */